<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand brand-custom" href="#">Securities on the Blockchain</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link login-custom" href="/meta-sender">Metacoin <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link login-custom" href="/registry">Registry<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link register-custom" href="#">Home</a>
      </li>
    </ul>
  </div>
</nav>
<!--
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>-->


<!--
<mat-toolbar>
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-toolbar>-->


<!--
<mat-toolbar>
  <mat-toolbar-row>
    <a href="/meta-sender">Metacoin</a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <a href="/registry">Registry</a>
  </mat-toolbar-row>
</mat-toolbar>
-->
